<?xml version="1.0" encoding="utf-8"?>
<manifest package="youten.redo.launchhome"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- The VR app is Daydream-only since it uses the controller. -->
    <uses-feature android:glEsVersion="0x00030002" android:required="true" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true"/>
    <uses-feature android:name="android.hardware.vr.high_performance" android:required="true"/>
    <uses-feature android:name="android.software.vr.mode" android:required="true"/>

    <application
        android:label="@string/app_name"
        >
        <!-- This is a standard Daydream Activity.  -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode|navigation"
            android:enableVrMode="@string/my_gvr_vr_mode_component"
            android:label="@string/activity_name"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">

            <!-- The VR icon to be used in Daydream Home comes in two parts: a foreground icon and a
                 background icon. The foreground icon is also used by the 2D Activity. -->
            <meta-data
                android:name="com.google.android.vr.icon"
                android:resource="@drawable/home_front" />
            <meta-data
                android:name="com.google.android.vr.icon_background"
                android:resource="@drawable/tw_back" />

            <!-- This Activity only shows up in Daydream Home and not the 2D Launcher. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.intent.category.DAYDREAM"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
